body {
    background-color: rgb(11, 100, 48);
}

.container {
    background-color: beige;
}

nav ul{
    display: flex;
    display: -webkit-flex;
}

ul li {
    display: inline;
}

nav li{
    list-style-type: none;
    color: rgb(82, 126, 95)
}

footer {
    background-color: cadetblue;
    color: white;
    text-align: center;
}

.flex-container {
    display: flex;
    /* display: -webkit-flex; */
    width: 100%;
}

.flex-section {

}

.flex-item {
   width: 70%;
    margin: 1em;
}
aside.flex-item  {
    display: right;
    width: 30%;
    margin: 1em;

 }

img {
    width: 100%;
}